.container{
    margin-top: 30px;
}

label{
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin-right: 10px;
}

input{
  height: 40px;
  background-color: olivedrab;
  opacity: 0.4;
  border: none;
  border-bottom: 1px solid #efefef;
  outline: none;
  font-size: 20px;
  margin-left: 10px;
}

.checkout__button{
    margin-top: 30px;
}
