.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-categories{
    gap: 20px;
}

.Option{
    font-weight: 500;
    color: black;
    text-decoration: inherit;
}

.Option:hover{
    font-weight: 500;
    color: olivedrab;
    text-decoration: inherit;
}

.ActiveOption{
    color: black;
}

.ActiveOption:hover{
    color: olivedrab;
}